<p class="text-body fs-2 fw-semibold my-0"><a
        href="/">SHOPPING MANAGER</a></p>
<a href="/category"
    class="text-body ms-5"><i class="fa-solid fa-layer-group"></i>
    Categories</a>
<a href="/product"
    class="text-body ms-3"><i class="fa-solid fa-box-open"></i>
    Products</a>
<a href="/user"
    class="text-body ms-3"><i class="fa-solid fa-user"></i>
    Users</a>
<a href="/message"
    class="text-body ms-3"><i class="fa-solid fa-inbox"></i>
    Inbox</a>
<a href="/chatroom"
    class="text-body ms-5"><i class="fa-solid fa-chat"></i>
    Chatroom</a>