<p class="text-body text-dark fs-2 fw-semibold my-0"><a
        href="/">SHOPPING</a></p>
<a href="/message"
    class="text-body ms-5"><i class="fa-solid fa-inbox"></i>
    Inbox</a>
<a href="/chatroom"
    class="text-body ms-5"><i class="fa-solid fa-chat"></i>
    Chatroom</a>