<input type="text"
	id="messageTB"
	placeholder="Your message">
<button id="sendBTN">Send</button>
<ul id="displayUL">
</ul>

<script src="/socket.io/socket.io.js"></script>
{{!-- <script type="module" src="/page/chatroom.client.js"></script> --}}